div(class="book flex list-group-item item")
    div
        - var tag = edit ? "a" : "label"
        #{tag}(class="book-thumbnail thumbnail" href="/book/edit/" + item.id)
            if item.thumbnail
                img(src=item.thumbnail alt=item.title class="book-thumbnail__img")
            else
                span(class="book-thumbnail__title") #{item.title}

            if item.isMature
                span(class="book-thumbnail__maturity pull-right") <img src="http://i.imgur.com/yajkTdn.png" alt="Mature">

            if item.isRead
                span(class="read") Read

    div
        div
            label(class="book__title") #{item.title} &nbsp;
            if item.subtitle
                small(class="book__subtitle") #{item.subtitle}

        div
            if item.authors
                span(class="book__authors") by #{item.authors}

        div(class="book__aside")
            if item.publisher
                span(class="book__publisher") #{item.publisher}
            if item.year
                span(class="book__date") #{item.year}
            if item.pageCount
                span(class="book__pageCount") #{item.pageCount} pages

        br
        div
            span(class="book__category") #{item.category}

            if item.link || edit
                hr
            if item.link
                a(href=item.link target="_blank") View book page
            if edit
                a(class="book__edit" title="Edit infos" href=("/book/edit/" + item.id))
                    span(class="glyphicon glyphicon-edit")